/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }

/*
 BARVY
 pozadi           #f5f5f5
 dekorace nadpisů #629edb
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}


/* HLAVICKA */
header{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(images/island-hlavicka.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #f5f5f5;
    padding: 0 1rem;
}
.autor{
    padding-bottom: 1rem;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    color: rgb(216, 212, 212);
    margin-top: 1rem;
    margin-bottom: 0;
}
.carka{
    border-top: 2px solid rgb(216, 212, 212);
    width: 50px;
    margin: 0 auto;
    margin-top: 1rem;
}
.titulek {
    font-family: 'Raleway', serif;
    margin-top: 0;
    padding-top: 1rem;
    font-size: 40px;
    margin-bottom: 0;
}
.perex{
    margin: 1rem 0;
}


/* MENU */
ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 3rem 0;
}
li{
    list-style: none;
}
.navigace a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    align-items: center;
}
.cara{
    border-bottom: 1px solid rgb(216, 212, 212);
    margin: 0.2rem 0;
}
.navigace{
    padding: 0 1.5rem;
}

/* OBSAH */
p{
    padding: 0 1rem;
}
img{
    width: 100%;
    margin-top: 3rem;
}
.popisek{
    text-align: center;
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 3rem;
    color: grey;
}
.popisek a{
    text-decoration: underline;
    color: grey;
}
h2{
    padding: 0 1rem;
    margin-bottom: 0;
    
}
.podtrzitko{
    border-bottom: 4px solid rgb(97, 164, 209);
    width: 70px;
    margin: 1.5rem 0;
}

.videt :last-child{
    margin-bottom: 3rem;
}


/* FOTOGALERIE */
.foto{
    margin-left: 0;
    width: 100%;
}
.galerie img{
    margin-top: 0;
    display: block;
}
.galerie .popisek{
    margin-bottom: 0;
}

/* PATICKA */
footer{
    background-color: rgb(233, 229, 229);
    font-size: 12px;
    color: grey;
    padding-top: 1.5rem;
}
.paticka a{
    text-transform: inherit;
    color: grey;
}
.uvodni-fotografie{
    margin-bottom: 0;
}

@media screen and (min-width: 501px){
    ul{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        border-top: 1.5px solid  rgb(216, 212, 212);
        border-bottom: 1.5px solid rgb(216, 212, 212);
    }
    li{
        border-right: 1.5px solid rgb(216, 212, 212);
        padding:0 3rem;
    }
    ul :nth-child(7){
        border-right: none;
    }
    .foto{
        position: relative;
        overflow: hidden;
        margin: 0;
        width: 50%;
    }
    .foto .popisek{
        position: absolute;
        bottom: 0.5rem;
        left: 5rem;
        color: #f5f5f5;
    }

    .foto .popisek a{
        color: #f5f5f5;
    }
    .videt .popisek,
    .proc .popisek,
    .uvod .popisek{
        position: relative;
        bottom: 30px;
        color: #f5f5f5;
        text-align: right;
    }
    .popisek a{
        color: #f5f5f5;
    }
    .galerie{
        display: flex;
        flex-wrap: wrap;
    }
    .galerie figcaption{
        opacity: 0;
    }
    .foto img,
    .foto .popisek{
        transition: transform 3s ease;
    }
    .foto:hover img,
    .foto:hover .popisek{
        transform: scale(1.2);
        opacity: 1;
    }
}
@media screen and (min-width: 960px){
    body{
        background-color: rgb(250, 250, 250);
        display: flex;
        flex-direction: column;
    }
    header{
        min-height: 350px;
        display: flex;
        flex-direction: column;
    }
    .perex{
        max-width: 750px;
        align-self: center;
    }
    h1{
        font-size: 7rem;
    }
    .pc{
        background-color: #f5f5f5;
        max-width: 960px;
        box-shadow: 2px 2px 9px #93999e;
        align-self: center;
        position: relative;
        bottom: 60px;
    }
    
    .obsah{
        display: flex;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 140%;
        text-align: left;
    }
    ul{
        border: 0;
    }
    li{
        padding-left: 0;
        border-right: 0;
    }
    .cara{
        width: 200px;
    }
    .uvod :first-child{
        padding-top: 2rem;
    }
    p.popisek.uvodni{
        position: relative;
        bottom: 30px;
        color: #f5f5f5;
        text-align: right;
    }
    .popisek a{
        color: #f5f5f5;
    }
    .proc p{
        padding-left: 2rem;
        padding-right: 17rem;
    }
    h2{
        padding-left: 2rem;
    }
    .videt p,
    .videt h2,
    .videt .podtrzitko{
        padding-left: 17rem; 
    }
    .videt .podtrzitko{
        padding-left: 0;
        margin-left: 15.5rem;
    }
    .proc .popisek{
       padding-right: 1rem;
       position: relative;
        bottom: 30px;
        color: #f5f5f5;
        text-align: right;
    }
    .galerie{
        display: flex;
        flex-wrap: wrap;
    }
    .foto{
        width: calc(100%/3);
    }
    footer{
        background-color: rgb(250, 250, 250);
        width: 960px;
        align-self: center;
        padding-top: 0;   
    }
    .uvodni-fotografie{
        margin-bottom: 1rem;
        padding-left: 0;
    }
    .paticka p{
        margin-top: 0;
        padding-left: 0;
    }
}
    